.header{
    padding: 1px;
    background: #102820;
    color: #6F4E37;
    font-size: 50px;
    height:80px;
    display: flex;
    align-items: flex-end;
}

.courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
}

a {
    color: white;
    font-size: 30px;
    padding: 10px;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

.links{
    margin-left: auto; 
    margin-right: 20px;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 25vw;
  }
  
  /* Style the table header */
  th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 8px;
  }
  
  /* Style the table body */
  td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Style alternating rows */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Style input fields */
  input[type="text"] {
    width: 30%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }

  button{
    width:10%;
    margin-left:45vw;
  }

  span {
    font-size: 20px; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Dark text color */
}

/* Style for the span */
p {
    font-size: 16px; /* Decrease font size */
    color: #666; /* Lighter text color */
}