{% extends "base.html" %}
{% block content %}
<input type="hidden" id="hiddenField1" name="hiddenField1" value={{coworker1Balance}}>
<input type="hidden" id="hiddenField2" name="hiddenField2" value={{coworker2Balance}}>
<input type="hidden" id="hiddenField3" name="hiddenField3" value={{coworker3Balance}}>
<input type="hidden" id="hiddenField4" name="hiddenField4" value={{coworker4Balance}}>
<input type="hidden" id="hiddenField5" name="hiddenField5" value={{coworker5Balance}}>
<form class="post-form" method="POST" onsubmit="return validateForm()">
    <table>
        <thead>
            <tr>
                <th>Consumer</th>
                <th>Balance</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                <td>Bob</td>
                <td>{{bobBalance}}</td>
                <td><input type="decimal" id="textBob" name="textBob"></td>
            </tr>
            <tr>
                <td>Jeremy</td>
                <td>{{jeremyBalance}}</td>
                <td><input type="decimal" id="textJeremy" name="textJeremy"></td>
            </tr>
        </tbody>
    </table>
    <button id="submitButton" type="submit">Pay</button>
    {% csrf_token %}
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        createTable();
    });
</script>
{% endblock %}