{% extends "base.html" %}
{% block content %}
<form class="post-form" method="POST" onsubmit="return validateForm()">
    <table>
        <thead>
            <tr>
                <th>Consumer</th>
                <th>Balance</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                <td>Bob</td>
                <td>{{bobBalance}}</td>
                <td><input type="decimal" id="textBob" name="textBob"></td>
            </tr>
            <tr>
                <td>Jeremy</td>
                <td>{{jeremyBalance}}</td>
                <td><input type="decimal" id="textJeremy" name="textJeremy"></td>
            </tr>
        </tbody>
    </table>
    <button id="submitButton" type="submit">Pay</button>
    {% csrf_token %}
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        createTable();
    });
</script>
{% endblock %}